{
    "openapi": "3.0.0",
    "info": {
        "title": "GoJetter API",
        "description": "API documentation for the GoJetter Laravel backend.",
        "contact": {
            "email": "support@gojetter.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "GoJetter API Server"
        }
    ],
    "paths": {
        "/api/activity-list": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Get list of active activities",
                "description": "Returns a list of active activities filtered by search, category_id, type, and sorted by price if specified.",
                "operationId": "getActivityList",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Filter results by type: private or group",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "private",
                                "group"
                            ]
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search keyword for activity title or description",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "description": "Filter activities by category ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Sort by price_low_high or price_high_low",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "maxLength": 255,
                            "enum": [
                                "price_low_high",
                                "price_high_low"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "Records retrieved successfully."
                                        },
                                        "Success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Status": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "Data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "title": {
                                                        "type": "string"
                                                    },
                                                    "slug": {
                                                        "type": "string"
                                                    },
                                                    "thumbnail": {
                                                        "type": "string"
                                                    },
                                                    "thumbnail_url": {
                                                        "type": "string"
                                                    },
                                                    "overview": {
                                                        "type": "string"
                                                    },
                                                    "short_description": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "highlights": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "full_description": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "tags": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "category_id": {
                                                        "type": "integer"
                                                    },
                                                    "is_featured": {
                                                        "type": "integer"
                                                    },
                                                    "difficulty_level": {
                                                        "type": "string"
                                                    },
                                                    "age_limit": {
                                                        "type": "integer"
                                                    },
                                                    "pickup_info": {
                                                        "type": "string"
                                                    },
                                                    "dropoff_info": {
                                                        "type": "string"
                                                    },
                                                    "location": {
                                                        "type": "string"
                                                    },
                                                    "duration": {
                                                        "type": "string"
                                                    },
                                                    "languages": {
                                                        "type": "string"
                                                    },
                                                    "min_adults": {
                                                        "type": "integer",
                                                        "nullable": true
                                                    },
                                                    "group_size": {
                                                        "type": "integer"
                                                    },
                                                    "activity_type": {
                                                        "type": "string",
                                                        "example": "private"
                                                    },
                                                    "is_wheelchair_accessible": {
                                                        "type": "integer"
                                                    },
                                                    "is_stroller_friendly": {
                                                        "type": "integer"
                                                    },
                                                    "cut_of_day": {
                                                        "type": "integer"
                                                    },
                                                    "rules": {
                                                        "type": "string"
                                                    },
                                                    "requirements": {
                                                        "type": "string"
                                                    },
                                                    "disclaimers": {
                                                        "type": "string"
                                                    },
                                                    "is_active": {
                                                        "type": "integer"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "average_rating": {
                                                        "type": "number",
                                                        "format": "float",
                                                        "nullable": true
                                                    },
                                                    "activity_category": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "thumbnail": {
                                                                "type": "string"
                                                            },
                                                            "thumbnail_url": {
                                                                "type": "string"
                                                            },
                                                            "is_active": {
                                                                "type": "integer"
                                                            },
                                                            "created_at": {
                                                                "type": "string",
                                                                "format": "date-time"
                                                            },
                                                            "updated_at": {
                                                                "type": "string",
                                                                "format": "date-time"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "activity_image": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object"
                                                        }
                                                    },
                                                    "activity_date": {
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "integer"
                                                                },
                                                                "activity_id": {
                                                                    "type": "integer"
                                                                },
                                                                "date": {
                                                                    "type": "string",
                                                                    "format": "date"
                                                                },
                                                                "price": {
                                                                    "type": "string"
                                                                },
                                                                "discount_price": {
                                                                    "type": "string"
                                                                },
                                                                "created_at": {
                                                                    "type": "string",
                                                                    "format": "date-time"
                                                                },
                                                                "updated_at": {
                                                                    "type": "string",
                                                                    "format": "date-time"
                                                                },
                                                                "activity_time_slot": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "properties": {
                                                                            "id": {
                                                                                "type": "integer"
                                                                            },
                                                                            "activity_date_id": {
                                                                                "type": "integer"
                                                                            },
                                                                            "start_time": {
                                                                                "type": "string"
                                                                            },
                                                                            "end_time": {
                                                                                "type": "string"
                                                                            },
                                                                            "total_seats": {
                                                                                "type": "integer"
                                                                            },
                                                                            "available_seats": {
                                                                                "type": "integer"
                                                                            },
                                                                            "created_at": {
                                                                                "type": "string",
                                                                                "format": "date-time"
                                                                            },
                                                                            "updated_at": {
                                                                                "type": "string",
                                                                                "format": "date-time"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    }
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "activity_expectation": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object"
                                                        }
                                                    },
                                                    "activity_exclusion": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object"
                                                        }
                                                    },
                                                    "activity_policy": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object"
                                                        }
                                                    },
                                                    "activity_inclusion": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object"
                                                        }
                                                    },
                                                    "activity_reviews": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/activity-by-slug/{slug}": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Get activity details by slug",
                "description": "Returns detailed information for a specific activity including category, images, dates, time slots, inclusions, exclusions, policies, expectations, and reviews.",
                "operationId": "getActivityBySlug",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "The unique slug of the activity",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "aut-et-elit-dolore"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "Records retrieved successfully."
                                        },
                                        "Success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "Aut et elit dolore"
                                                },
                                                "slug": {
                                                    "type": "string",
                                                    "example": "aut-et-elit-dolore"
                                                },
                                                "thumbnail": {
                                                    "type": "string",
                                                    "example": "activity/OvPJUSSQUToALhK2K2LPlz6degzlFzVdpUhqMtTV.png"
                                                },
                                                "overview": {
                                                    "type": "string",
                                                    "example": "Dolor aut nesciunt"
                                                },
                                                "short_description": {
                                                    "type": "string",
                                                    "example": "Sint quo est except"
                                                },
                                                "highlights": {
                                                    "type": "string",
                                                    "example": "Sed quidem perspicia"
                                                },
                                                "full_description": {
                                                    "type": "string",
                                                    "example": "Vero voluptates null"
                                                },
                                                "tags": {
                                                    "type": "string",
                                                    "example": "Est ad dolorem bland"
                                                },
                                                "category_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "is_featured": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "difficulty_level": {
                                                    "type": "string",
                                                    "example": "moderate"
                                                },
                                                "age_limit": {
                                                    "type": "integer",
                                                    "example": 43
                                                },
                                                "pickup_info": {
                                                    "type": "string",
                                                    "example": "Totam consectetur de"
                                                },
                                                "dropoff_info": {
                                                    "type": "string",
                                                    "example": "Tempor error nemo eu"
                                                },
                                                "location": {
                                                    "type": "string",
                                                    "example": "Molestiae amet expe"
                                                },
                                                "duration": {
                                                    "type": "string",
                                                    "example": "Tenetur natus minim"
                                                },
                                                "languages": {
                                                    "type": "string",
                                                    "example": "Aperiam excepturi ad"
                                                },
                                                "min_adults": {
                                                    "type": "integer",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "group_size": {
                                                    "type": "integer",
                                                    "example": 48
                                                },
                                                "activity_type": {
                                                    "type": "string",
                                                    "example": "private"
                                                },
                                                "is_wheelchair_accessible": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "is_stroller_friendly": {
                                                    "type": "integer",
                                                    "example": 0
                                                },
                                                "cut_of_day": {
                                                    "type": "integer",
                                                    "example": 7
                                                },
                                                "rules": {
                                                    "type": "string",
                                                    "example": "Est est ducimus un"
                                                },
                                                "requirements": {
                                                    "type": "string",
                                                    "example": "Quas labore ut aute"
                                                },
                                                "disclaimers": {
                                                    "type": "string",
                                                    "example": "Dignissimos neque er"
                                                },
                                                "is_active": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-08-09T17:41:02.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-08-09T17:41:02.000000Z"
                                                },
                                                "average_rating": {
                                                    "type": "number",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "thumbnail_url": {
                                                    "type": "string",
                                                    "example": "http://localhost/gojetter/storage/app/public/activity/OvPJUSSQUToALhK2K2LPlz6degzlFzVdpUhqMtTV.png"
                                                },
                                                "activity_category": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Advanture"
                                                        },
                                                        "thumbnail": {
                                                            "type": "string",
                                                            "example": "tour_category/DpLGO0CO1yHcH2kdIBYmOaMCgmTD0lhj5h4CLHDX.webp"
                                                        },
                                                        "is_active": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "created_at": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "example": "2025-07-18T18:16:30.000000Z"
                                                        },
                                                        "updated_at": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "example": "2025-07-18T18:16:30.000000Z"
                                                        },
                                                        "thumbnail_url": {
                                                            "type": "string",
                                                            "example": "http://localhost/gojetter/storage/app/public/tour_category/DpLGO0CO1yHcH2kdIBYmOaMCgmTD0lhj5h4CLHDX.webp"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "activity_reviews": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "activity_image": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "activity_date": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "activity_id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "date": {
                                                                "type": "string",
                                                                "format": "date",
                                                                "example": "2025-08-11"
                                                            },
                                                            "price": {
                                                                "type": "string",
                                                                "example": "30.00"
                                                            },
                                                            "discount_price": {
                                                                "type": "string",
                                                                "example": "0.00"
                                                            },
                                                            "created_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2025-08-09T20:12:09.000000Z"
                                                            },
                                                            "updated_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2025-08-09T20:12:09.000000Z"
                                                            },
                                                            "activity_time_slot": {
                                                                "type": "array",
                                                                "items": {
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": "integer",
                                                                            "example": 2
                                                                        },
                                                                        "activity_date_id": {
                                                                            "type": "integer",
                                                                            "example": 1
                                                                        },
                                                                        "start_time": {
                                                                            "type": "string",
                                                                            "example": "01 AM"
                                                                        },
                                                                        "end_time": {
                                                                            "type": "string",
                                                                            "example": "02 AM"
                                                                        },
                                                                        "total_seats": {
                                                                            "type": "integer",
                                                                            "example": 12
                                                                        },
                                                                        "available_seats": {
                                                                            "type": "integer",
                                                                            "example": 12
                                                                        },
                                                                        "created_at": {
                                                                            "type": "string",
                                                                            "format": "date-time",
                                                                            "example": "2025-08-09T20:23:09.000000Z"
                                                                        },
                                                                        "updated_at": {
                                                                            "type": "string",
                                                                            "format": "date-time",
                                                                            "example": "2025-08-09T20:23:09.000000Z"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "activity_expectation": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "activity_exclusion": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "activity_policy": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "activity_inclusion": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "Status": {
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Activity not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "Activity not found."
                                        },
                                        "Success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "Status": {
                                            "type": "integer",
                                            "example": 404
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/save-activity-review": {
            "post": {
                "tags": [
                    "Review"
                ],
                "summary": "Submit a review for a activity",
                "operationId": "8e0e47e6ca155b9d251850caf283c6df",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "activity_id",
                                    "rating",
                                    "comment"
                                ],
                                "properties": {
                                    "activity_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "rating": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 5
                                    },
                                    "comment": {
                                        "type": "string",
                                        "example": "good"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Review successfully saved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "Record saved successfully."
                                        },
                                        "Success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "activity_id": {
                                                    "type": "string",
                                                    "example": "1"
                                                },
                                                "rating": {
                                                    "type": "string",
                                                    "example": "5"
                                                },
                                                "comment": {
                                                    "type": "string",
                                                    "example": "good"
                                                },
                                                "user_id": {
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-07-18T19:05:53.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-07-18T19:05:53.000000Z"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "Status": {
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/register": {
            "post": {
                "tags": [
                    "Customer Auth"
                ],
                "summary": "Register a new customer user",
                "operationId": "66c94efb58a25081b996f77180bb42a7",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "username",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "John Doe"
                                    },
                                    "username": {
                                        "description": "No spaces allowed",
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "johndoe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "maxLength": 255,
                                        "example": "john@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "minLength": 6,
                                        "example": "secret123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "minLength": 6,
                                        "example": "secret123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP sent after successful registration",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "OTP sent successfully."
                                        },
                                        "Success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Status": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "Data": {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 14
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "new user"
                                                        },
                                                        "username": {
                                                            "type": "string",
                                                            "example": "user7"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "example": "user7@gmail.com"
                                                        },
                                                        "created_at": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "example": "2025-07-14T12:26:07.000000Z"
                                                        },
                                                        "updated_at": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "example": "2025-07-14T12:26:07.000000Z"
                                                        },
                                                        "roles": {
                                                            "type": "array",
                                                            "items": {
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "integer",
                                                                        "example": 2
                                                                    },
                                                                    "name": {
                                                                        "type": "string",
                                                                        "example": "user"
                                                                    },
                                                                    "guard_name": {
                                                                        "type": "string",
                                                                        "example": "web"
                                                                    },
                                                                    "created_at": {
                                                                        "type": "string",
                                                                        "format": "date-time",
                                                                        "example": "2025-07-07T13:41:26.000000Z"
                                                                    },
                                                                    "updated_at": {
                                                                        "type": "string",
                                                                        "format": "date-time",
                                                                        "example": "2025-07-07T13:41:26.000000Z"
                                                                    },
                                                                    "pivot": {
                                                                        "properties": {
                                                                            "model_id": {
                                                                                "type": "integer",
                                                                                "example": 14
                                                                            },
                                                                            "role_id": {
                                                                                "type": "integer",
                                                                                "example": 2
                                                                            },
                                                                            "model_type": {
                                                                                "type": "string",
                                                                                "example": "App\\\\Models\\\\User"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Customer Auth"
                ],
                "summary": "Login user",
                "operationId": "cde6f556d58745c7af1f77e272b41991",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "login",
                                    "password"
                                ],
                                "properties": {
                                    "login": {
                                        "type": "string",
                                        "example": "user6@gmail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful login",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "User logged in successfully."
                                        },
                                        "Success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 13
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "new user"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "user6@gmail.com"
                                                },
                                                "email_verified_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-07-14T12:40:21.000000Z"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-07-14T12:21:22.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-07-14T12:40:21.000000Z"
                                                },
                                                "username": {
                                                    "type": "string",
                                                    "example": "user6"
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "paypal_email": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "is_show_email_phone": {
                                                    "type": "integer",
                                                    "example": 0
                                                },
                                                "about_yourself": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "avatar": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "home_airport": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "address": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "city": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "state": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "zip_code": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "country": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "example": "your_jwt_token_here"
                                                },
                                                "roles": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 2
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "user"
                                                            },
                                                            "guard_name": {
                                                                "type": "string",
                                                                "example": "web"
                                                            },
                                                            "created_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2025-07-07T13:41:26.000000Z"
                                                            },
                                                            "updated_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2025-07-07T13:41:26.000000Z"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "Status": {
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Email not verified",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "Email not verified. OTP has been sent to your email."
                                        },
                                        "Success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "Status": {
                                            "type": "integer",
                                            "example": 422
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "Customer Auth"
                ],
                "summary": "Logout the authenticated customer user",
                "operationId": "a575315a0c547a3759c22fc7a2852083",
                "responses": {
                    "200": {
                        "description": "Successful Logout",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "User logged out successfully."
                                        },
                                        "Success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "example": []
                                        },
                                        "Status": {
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/resend-email-otp": {
            "post": {
                "tags": [
                    "Customer Auth"
                ],
                "summary": "Resend email OTP to an existing user",
                "operationId": "f10d09fa35facc7f074fe9ff887ff2cf",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user7@gmail.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP resent successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "OTP sent successfully."
                                        },
                                        "Success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Data": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Status": {
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error (email required or not found)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The email field is required."
                                        },
                                        "errors": {
                                            "properties": {
                                                "email": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The selected email is invalid."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/verify-email-otp": {
            "post": {
                "tags": [
                    "Customer Auth"
                ],
                "summary": "Verify email OTP for user account activation",
                "operationId": "ddd4fdc1461f3fc3f003baa6f87552b7",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "otp"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user6@gmail.com"
                                    },
                                    "otp": {
                                        "description": "6-digit OTP sent to email",
                                        "type": "string",
                                        "example": "123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP verified and email marked as verified",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "OTP verified successfully."
                                        },
                                        "Success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Status": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "Data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 13
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "new user"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "user6@gmail.com"
                                                },
                                                "email_verified_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-07-14T12:40:21.000000Z"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-07-14T12:21:22.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-07-14T12:40:21.000000Z"
                                                },
                                                "username": {
                                                    "type": "string",
                                                    "example": "user6"
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "paypal_email": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "is_show_email_phone": {
                                                    "type": "integer",
                                                    "example": 0
                                                },
                                                "about_yourself": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "avatar": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "home_airport": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "address": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "city": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "state": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "zip_code": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "country": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid or expired OTP",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "Invalid OTP or email."
                                        },
                                        "Success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "Status": {
                                            "type": "integer",
                                            "example": 422
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/forget-password": {
            "post": {
                "tags": [
                    "Customer Auth"
                ],
                "summary": "Send OTP to email for password reset",
                "operationId": "d810648d68d0622b4216c9e8cc283f6e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "Registered user email",
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP sent successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "OTP sent successfully."
                                        },
                                        "Success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Data": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Status": {
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "Errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/change-password": {
            "post": {
                "tags": [
                    "Customer Auth"
                ],
                "summary": "Change password for authenticated customer",
                "operationId": "d10e823954cf3543e5041fee759a0f92",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "password": {
                                        "description": "New password (must be confirmed)",
                                        "type": "string",
                                        "format": "password",
                                        "minLength": 6,
                                        "example": "newpassword123"
                                    },
                                    "password_confirmation": {
                                        "description": "Confirmation of the new password",
                                        "type": "string",
                                        "format": "password",
                                        "example": "newpassword123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password changed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "Password changed successfully."
                                        },
                                        "Success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Data": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Status": {
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "Errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "authbearer": []
                    }
                ]
            }
        },
        "/api/update-profile": {
            "post": {
                "tags": [
                    "Customer Auth"
                ],
                "summary": "Update customer profile",
                "description": "Allows authenticated customers to update their profile information.",
                "operationId": "updateProfile",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "phone",
                                    "gender",
                                    "country_id",
                                    "is_show_email_phone",
                                    "home_airport"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "03001234567"
                                    },
                                    "gender": {
                                        "type": "string",
                                        "example": "Male"
                                    },
                                    "country_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "avatar": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "is_show_email_phone": {
                                        "type": "integer",
                                        "enum": [
                                            0,
                                            1
                                        ],
                                        "example": 0
                                    },
                                    "home_airport": {
                                        "type": "string",
[...]
