{
    "openapi": "3.0.0",
    "info": {
        "title": "GoJetter API",
        "description": "API documentation for the GoJetter Laravel backend.",
        "contact": {
            "email": "support@gojetter.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "GoJetter API Server"
        }
    ],
    "paths": {
        "/api/register": {
            "post": {
                "tags": [
                    "Customer Auth"
                ],
                "summary": "Register a new customer user",
                "operationId": "66c94efb58a25081b996f77180bb42a7",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "username",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "John Doe"
                                    },
                                    "username": {
                                        "description": "No spaces allowed",
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "johndoe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "maxLength": 255,
                                        "example": "john@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "minLength": 6,
                                        "example": "secret123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "minLength": 6,
                                        "example": "secret123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP sent after successful registration",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "OTP sent successfully."
                                        },
                                        "Success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Status": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "Data": {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 14
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "new user"
                                                        },
                                                        "username": {
                                                            "type": "string",
                                                            "example": "user7"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "example": "user7@gmail.com"
                                                        },
                                                        "created_at": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "example": "2025-07-14T12:26:07.000000Z"
                                                        },
                                                        "updated_at": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "example": "2025-07-14T12:26:07.000000Z"
                                                        },
                                                        "roles": {
                                                            "type": "array",
                                                            "items": {
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "integer",
                                                                        "example": 2
                                                                    },
                                                                    "name": {
                                                                        "type": "string",
                                                                        "example": "user"
                                                                    },
                                                                    "guard_name": {
                                                                        "type": "string",
                                                                        "example": "web"
                                                                    },
                                                                    "created_at": {
                                                                        "type": "string",
                                                                        "format": "date-time",
                                                                        "example": "2025-07-07T13:41:26.000000Z"
                                                                    },
                                                                    "updated_at": {
                                                                        "type": "string",
                                                                        "format": "date-time",
                                                                        "example": "2025-07-07T13:41:26.000000Z"
                                                                    },
                                                                    "pivot": {
                                                                        "properties": {
                                                                            "model_id": {
                                                                                "type": "integer",
                                                                                "example": 14
                                                                            },
                                                                            "role_id": {
                                                                                "type": "integer",
                                                                                "example": 2
                                                                            },
                                                                            "model_type": {
                                                                                "type": "string",
                                                                                "example": "App\\\\Models\\\\User"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Customer Auth"
                ],
                "summary": "Login user",
                "operationId": "cde6f556d58745c7af1f77e272b41991",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "login",
                                    "password"
                                ],
                                "properties": {
                                    "login": {
                                        "type": "string",
                                        "example": "user6@gmail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful login",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "User logged in successfully."
                                        },
                                        "Success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 13
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "new user"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "user6@gmail.com"
                                                },
                                                "email_verified_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-07-14T12:40:21.000000Z"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-07-14T12:21:22.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-07-14T12:40:21.000000Z"
                                                },
                                                "username": {
                                                    "type": "string",
                                                    "example": "user6"
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "paypal_email": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "is_show_email_phone": {
                                                    "type": "integer",
                                                    "example": 0
                                                },
                                                "about_yourself": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "avatar": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "home_airport": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "address": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "city": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "state": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "zip_code": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "country": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "example": "your_jwt_token_here"
                                                },
                                                "roles": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 2
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "user"
                                                            },
                                                            "guard_name": {
                                                                "type": "string",
                                                                "example": "web"
                                                            },
                                                            "created_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2025-07-07T13:41:26.000000Z"
                                                            },
                                                            "updated_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2025-07-07T13:41:26.000000Z"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "Status": {
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Email not verified",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "Email not verified. OTP has been sent to your email."
                                        },
                                        "Success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "Status": {
                                            "type": "integer",
                                            "example": 422
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "Customer Auth"
                ],
                "summary": "Logout the authenticated customer user",
                "operationId": "a575315a0c547a3759c22fc7a2852083",
                "responses": {
                    "200": {
                        "description": "Successful Logout",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "User logged out successfully."
                                        },
                                        "Success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "example": []
                                        },
                                        "Status": {
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/resend-email-otp": {
            "post": {
                "tags": [
                    "Customer Auth"
                ],
                "summary": "Resend email OTP to an existing user",
                "operationId": "f10d09fa35facc7f074fe9ff887ff2cf",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user7@gmail.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP resent successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "OTP sent successfully."
                                        },
                                        "Success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Data": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Status": {
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error (email required or not found)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The email field is required."
                                        },
                                        "errors": {
                                            "properties": {
                                                "email": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The selected email is invalid."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/verify-email-otp": {
            "post": {
                "tags": [
                    "Customer Auth"
                ],
                "summary": "Verify email OTP for user account activation",
                "operationId": "ddd4fdc1461f3fc3f003baa6f87552b7",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "otp"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user6@gmail.com"
                                    },
                                    "otp": {
                                        "description": "6-digit OTP sent to email",
                                        "type": "string",
                                        "example": "123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP verified and email marked as verified",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "OTP verified successfully."
                                        },
                                        "Success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Status": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "Data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 13
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "new user"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "user6@gmail.com"
                                                },
                                                "email_verified_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-07-14T12:40:21.000000Z"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-07-14T12:21:22.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-07-14T12:40:21.000000Z"
                                                },
                                                "username": {
                                                    "type": "string",
                                                    "example": "user6"
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "paypal_email": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "is_show_email_phone": {
                                                    "type": "integer",
                                                    "example": 0
                                                },
                                                "about_yourself": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "avatar": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "home_airport": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "address": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "city": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "state": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "zip_code": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "country": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid or expired OTP",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "Invalid OTP or email."
                                        },
                                        "Success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "Status": {
                                            "type": "integer",
                                            "example": 422
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/forget-password": {
            "post": {
                "tags": [
                    "Customer Auth"
                ],
                "summary": "Send OTP to email for password reset",
                "operationId": "d810648d68d0622b4216c9e8cc283f6e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "Registered user email",
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP sent successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "OTP sent successfully."
                                        },
                                        "Success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Data": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Status": {
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "Errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/change-password": {
            "post": {
                "tags": [
                    "Customer Auth"
                ],
                "summary": "Change password for authenticated customer",
                "operationId": "d10e823954cf3543e5041fee759a0f92",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "password": {
                                        "description": "New password (must be confirmed)",
                                        "type": "string",
                                        "format": "password",
                                        "minLength": 6,
                                        "example": "newpassword123"
                                    },
                                    "password_confirmation": {
                                        "description": "Confirmation of the new password",
                                        "type": "string",
                                        "format": "password",
                                        "example": "newpassword123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password changed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "Password changed successfully."
                                        },
                                        "Success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Data": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Status": {
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "Errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "authbearer": []
                    }
                ]
            }
        },
        "/api/update-profile": {
            "post": {
                "tags": [
                    "Customer Auth"
                ],
                "summary": "Update customer profile",
                "description": "Allows authenticated customers to update their profile information.",
                "operationId": "updateProfile",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "phone",
                                    "gender",
                                    "country_id",
                                    "is_show_email_phone",
                                    "home_airport"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "03001234567"
                                    },
                                    "gender": {
                                        "type": "string",
                                        "example": "Male"
                                    },
                                    "country_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "avatar": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "is_show_email_phone": {
                                        "type": "integer",
                                        "enum": [
                                            0,
                                            1
                                        ],
                                        "example": 0
                                    },
                                    "home_airport": {
                                        "type": "string",
                                        "example": "Lahore"
                                    },
                                    "state": {
                                        "type": "string",
                                        "example": "Punjab",
                                        "nullable": true
                                    },
                                    "city": {
                                        "type": "string",
                                        "example": "Lahore",
                                        "nullable": true
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "123 Main Street",
                                        "nullable": true
                                    },
                                    "zip_code": {
                                        "type": "string",
                                        "example": "54000",
                                        "nullable": true
                                    },
                                    "paypal_email": {
                                        "type": "string",
                                        "example": "paypal@example.com",
                                        "nullable": true
                                    },
                                    "alternative_phone": {
                                        "type": "string",
                                        "example": "03009998888",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Record updated successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "Record updated successfully."
                                        },
                                        "Success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 13
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "new user 6"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "user6@gmail.com"
                                                },
                                                "email_verified_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-07-14T17:30:12.000000Z"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-07-14T12:21:22.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-07-17T15:21:49.000000Z"
                                                },
                                                "username": {
                                                    "type": "string",
                                                    "example": "user6"
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "example": "03000000001"
                                                },
                                                "paypal_email": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "is_show_email_phone": {
                                                    "type": "string",
                                                    "example": "0"
                                                },
                                                "about_yourself": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "avatar": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "home_airport": {
                                                    "type": "string",
                                                    "example": "lahore"
                                                },
                                                "address": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "city": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "state": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "zip_code": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "country_id": {
                                                    "type": "string",
                                                    "example": "1"
                                                },
                                                "alternative_phone": {
                                                    "type": "string",
                                                    "example": null,
                                                    "nullable": true
                                                },
                                                "gender": {
                                                    "type": "string",
                                                    "example": "Male"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "Status": {
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/delete-account": {
            "post": {
                "tags": [
                    "Customer Auth"
                ],
                "summary": "Delete user account",
                "description": "Permanently deletes the authenticated user's account.",
                "operationId": "deleteAccount",
                "responses": {
                    "200": {
                        "description": "Account deleted successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "Account deleted successfully."
                                        },
                                        "Success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Data": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Status": {
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/currency-list": {
            "get": {
                "tags": [
                    "Common"
                ],
                "summary": "Get list of currencies",
                "description": "Returns a list of supported currencies with their code, symbol, rate, and default status.",
                "operationId": "getCurrencyList",
                "responses": {
                    "200": {
                        "description": "Records retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "Records retrieved successfully."
                                        },
                                        "Success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "code": {
                                                        "type": "string",
                                                        "example": "USD"
                                                    },
                                                    "symbol": {
                                                        "type": "string",
                                                        "example": "$"
                                                    },
                                                    "rate": {
                                                        "type": "string",
                                                        "example": "1.0000"
                                                    },
                                                    "is_default": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-07-08T16:36:49.000000Z"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-07-08T16:38:17.000000Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "Status": {
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/country-list": {
            "get": {
                "tags": [
                    "Common"
                ],
                "summary": "Get list of countries",
                "description": "Returns a list of all countries.",
                "operationId": "getCountryList",
                "responses": {
                    "200": {
                        "description": "Records retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "Records retrieved successfully."
                                        },
                                        "Success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Pakistan"
                                                    },
                                                    "is_active": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-07-17T14:08:35.000000Z"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-07-17T14:17:14.000000Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "Status": {
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/term-and-condition": {
            "get": {
                "tags": [
                    "Common"
                ],
                "summary": "Get Terms and Conditions",
                "operationId": "18ab1fc6498e047a5be77dc82b38b3b3",
                "responses": {
                    "200": {
                        "description": "Records retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "Records retrieved successfully."
                                        },
                                        "Success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "example": "<b>Terms and conditions</b> for a tours website and mobile app should outline user responsibilities..."
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-07-09T17:01:21.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-07-09T17:02:15.000000Z"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "Status": {
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/privacy-policy": {
            "get": {
                "tags": [
                    "Common"
                ],
                "summary": "Get Privacy Policy",
                "operationId": "c123257fe17a8f3e6f84ba4d23d56670",
                "responses": {
                    "200": {
                        "description": "Records retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "Records retrieved successfully."
                                        },
                                        "Success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "description": {
                                                    "type": "string",
                                                    "example": "<b>Privacy Policy</b> outlines how we collect, use, and protect your personal information..."
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-07-09T17:01:21.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-07-09T17:02:15.000000Z"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "Status": {
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/faqs": {
            "get": {
                "tags": [
                    "Common"
                ],
                "summary": "Get list of FAQs",
                "operationId": "47ff3028c30655293e0fad66c8fc3a9c",
                "responses": {
                    "200": {
                        "description": "Records retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "Records retrieved successfully."
                                        },
                                        "Success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "question": {
                                                        "type": "string",
                                                        "example": "What is this?"
                                                    },
                                                    "answer": {
                                                        "type": "string",
                                                        "example": "<p>This is a tour website and applications.</p>"
                                                    },
                                                    "is_active": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-07-09T13:09:54.000000Z"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-07-09T13:09:54.000000Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "Status": {
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/gallery-list": {
            "get": {
                "tags": [
                    "Gallery"
                ],
                "summary": "Get gallery list",
                "operationId": "2076970b5980cca0283022ca447a1ca1",
                "responses": {
                    "200": {
                        "description": "Records retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "Records retrieved successfully."
                                        },
                                        "Success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 2
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "testing"
                                                    },
                                                    "image": {
                                                        "type": "string",
                                                        "example": "tours/OkJ9qWCSM9ps8vhfS4nJsIGcUgfGNWdHziEgsdVG.png"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-07-18T20:47:43.000000Z"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-07-18T20:47:43.000000Z"
                                                    },
                                                    "image_url": {
                                                        "type": "string",
                                                        "example": "http://localhost/gojetter/storage/app/public/tours/OkJ9qWCSM9ps8vhfS4nJsIGcUgfGNWdHziEgsdVG.png"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "Status": {
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/social-media-list": {
            "get": {
                "tags": [
                    "Social Media"
                ],
                "summary": "Get list of active social media links",
                "operationId": "c70d68eab29519eb5d53badb9753a1b5",
                "responses": {
                    "200": {
                        "description": "Records retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "Records retrieved successfully."
                                        },
                                        "Success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Facebook"
                                                    },
                                                    "icon": {
                                                        "type": "string",
                                                        "format": "uri",
                                                        "example": "http://localhost/gojetter/storage/app/public/social_media/DmsGSwZthvpfmuQ9IlYvcpoPlI8vy7kraAadk4vB.svg"
                                                    },
                                                    "url": {
                                                        "type": "string",
                                                        "format": "uri",
                                                        "example": "https://www.facebook.com/"
                                                    },
                                                    "is_active": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-07-14T18:39:13.000000Z"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-07-14T18:39:13.000000Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "Status": {
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/tour-category-list": {
            "get": {
                "tags": [
                    "Tour"
                ],
                "summary": "Get list of active tour categories",
                "description": "Returns a list of active tour categories with thumbnail URLs",
                "operationId": "getTourCategoryList",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "Records retrieved successfully."
                                        },
                                        "Success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Status": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "Data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Adventure"
                                                    },
                                                    "thumbnail": {
                                                        "type": "string",
                                                        "example": "tour_category/DpLGO0CO1yHcH2kdIBYmOaMCgmTD0lhj5h4CLHDX.webp"
                                                    },
                                                    "is_active": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-07-18T18:16:30.000000Z"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-07-18T18:16:30.000000Z"
                                                    },
                                                    "thumbnail_url": {
                                                        "type": "string",
                                                        "example": "http://localhost/gojetter/storage/app/public/tour_category/DpLGO0CO1yHcH2kdIBYmOaMCgmTD0lhj5h4CLHDX.webp"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/tour-list": {
            "get": {
                "tags": [
                    "Tour"
                ],
                "summary": "Get list of active tours",
                "description": "Returns a list of active tours filtered by search, category_id, and sorted by price if specified.",
                "operationId": "getTourList",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search keyword for tour title or description",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "description": "Filter tours by category ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Sort by price_low_high or price_high_low",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "maxLength": 255,
                            "enum": [
                                "price_low_high",
                                "price_high_low"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Message": {
                                            "type": "string",
                                            "example": "Records retrieved successfully."
                                        },
                                        "Success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "Status": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "Data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "title": {
                                                        "type": "string",
                                                        "example": "Dubai and Cairo Combo Tour"
                                                    },
                                                    "slug": {
                                                        "type": "string",
                                                        "example": "dubai-and-cairo-combo-tour"
                                                    },
                                                    "thumbnail": {
                                                        "type": "string",
                                                        "example": "tours/9iGOlgbNCuCdxj3QTnlvL1Vqntysz3oFxwTKcwGJ.png"
                                                    },
                                                    "thumbnail_url": {
                                                        "type": "string",
                                                        "example": "http://localhost/gojetter/storage/app/public/tours/9iGOlgbNCuCdxj3QTnlvL1Vqntysz3oFxwTKcwGJ.png"
                                                    },
                                                    "overview": {
                                                        "type": "string",
                                                        "example": "<h2 class='st-heading-section'>About this tour</h2>"
                                                    },
                                                    "short_description": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "full_description": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "duration_days": {
                                                        "type": "integer",
                                                        "example": 13
                                                    },
                                                    "duration_nights": {
                                                        "type": "integer",
                                                        "example": 12
                                                    },
                                                    "tour_type": {
                                                        "type": "string",
                                                        "example": "Adventure"
                                                    },
                                                    "group_size": {
                                                        "type": "integer",
                                                        "example": 72
                                                    },
                                                    "languages": {
                                                        "type": "string",
                                                        "example": "English, Arabic"
                                                    },
                                                    "price": {
                                                        "type": "string",
                                                        "example": "1898.00"
                                                    },
                                                    "min_adults": {
                                                        "type": "integer",
                                                        "example": 2
                                                    },
                                                    "location": {
                                                        "type": "string",
                                                        "example": "Dubai"
                                                    },
                                                    "is_active": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-07-08T22:49:38.000000Z"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-07-18T18:16:49.000000Z"
                                                    },
                                                    "tour_category_id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "average_rating": {
                                                        "type": "number",
                                                        "format": "float",
                                                        "example": 4.5,
                                                        "nullable": true
                                                    },
                                                    "tour_category": {
[...]
